.information-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
}

.information-popup_opened {
  visibility: visible;
  opacity: 1;
}

.information-popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 87vw;
  min-width: 240px;
  max-width: 430px;
  padding: 34px 36px 36px;
  border-radius: 10px;
  background-color: #202020;
}

.information-popup__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 39px;
  font-weight: normal;
  font-style: normal;
  line-height: 50px;
  margin: 0;
  text-align: center;
  color: #8b8b8b;
}

.information-popup__submit {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  box-sizing: border-box;
  height: 50px;
  margin-top: 31px;
  cursor: pointer;
  transition: opacity .2s ease-in;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #4285f4;
}

.information-popup__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .information-popup__submit {
    font-size: calc((100vw - 320px) / (600 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (600 - 320) * (22 - 17) + 17px);
    height: calc((100vw - 320px) / (600 - 320) * (50.15 - 40) + 40px);
    margin-top: calc((100vw - 320px) / (600 - 320) * (31 - 19) + 19px);
  }
}

@media screen and (max-width: 600px) {
  .information-popup__title {
    font-size: calc((100vw - 320px) / (600 - 320) * (24 - 18) + 18px);
    line-height: calc((100vw - 320px) / (600 - 320) * (29 - 22) + 22px);
  }
}
