.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.page__container {
  width: 100%;
  border: none;
}

.page__container_color_blue {
  background-color: #073042;
}
