.cards {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 70px 0 0;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 31px 28px;
}

.cards__not-found {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  margin: auto;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 35px 24px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    padding-top: 36px;
    grid-template-columns: 1fr;
    row-gap: 13px;
  }
}
