.auth {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: calc(100% - 30px * 2);
  max-width: 396px;
  height: 100vh;
  padding: 70px 0;
}

.auth__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
  object-fit: cover;
  object-position: center;
}

.auth__fieldList {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.auth__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 29px;
  margin: 0 0 40px;
  color: #fff;
}

.auth__label {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  margin-bottom: 10px;
  color: #8b8b8b;
}

.auth__input {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 10px;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
}

.auth__input_error {
  color: #ee3465;
}

.auth__error {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  visibility: hidden;
  color: #ee3465;
}

.auth__error_visible {
  visibility: visible;
}

.auth__submit {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
  width: 100%;
  margin-bottom: 17px;
  padding: 14px 0;
  cursor: pointer;
  transition: opacity ease-in-out .2s;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #4285f4;
}

.auth__submit:hover {
  opacity: .8;
}


.auth__submit_disabled {
  user-select: none;
  pointer-events: none;
  opacity: .2;
}

.auth__footer {
  display: flex;
  justify-content: center;
}

.auth__description {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  margin: 0 6px 0 0;
  text-align: center;
  color: #8b8b8b;
}

.auth__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  transition: opacity ease-in-out .2s;
  text-align: center;
  text-decoration: none;
  color: #4285f4;
}

.auth__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .auth {
    padding: 232px 0;
  }

  .auth__submit {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 400px) {
  .auth {
    align-items: center;
    padding: 56px 0 30px;
  }

  .auth__logo {
    margin-bottom: 50px;
  }

  .auth__title {
    margin-bottom: 80px;
  }

  .auth__description, .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}
